<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phaser - Template</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" href="/assets/favicon.ico">

    <link rel="icon" type="image/png" href="/assets/coding/bachelors-thesis/play/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/coding/bachelors-thesis/play/style.css">
    <script type="module" crossorigin src="/assets/coding/bachelors-thesis/play/assets/index-DS7ZqJE3.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/coding/bachelors-thesis/play/assets/phaser-CLYd3JIB.js">
</head>

<body>
    {% include nav.html %}

    <main>
        {{ content }}
    </main>
</body>

</html>
